.pageContainer {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 67%;
}