.headerContainer {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: spa;
}

.tabs {
    display: flex;
    flex-direction: row;
}